/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import 'variables';

.ds-2col > .group-left {
  float: left;
  width: 50%;
}

.ds-2col > .group-right {
  float: left;
  width: 50%;
}

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%;
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 48.75%;
  }
  .ds-2col > .group-left {
    margin-right: 2.5%;
  }
}

/* Diensten */
#block-views-greenagents-diensten-block {
  width:80%!important;
  .views-row {
    width: 20%;
    float: left;
    margin-right: 6%;
    margin-bottom:0;
    .views-field-title {
    }
    .views-field-field-image {
      width:85%;
      margin:0 auto;
    }
  }
  .views-row-last {
    margin-right:0;
  }
}

#block-views-pdf-block {
  width:15%;
  float:left;
  margin-bottom:0;
  margin-right:5%;
  .field-name-field-image {
    width:90%;
    margin:0 auto;
  }
}

/* Contact */
iframe {
  width:100%;
  height:450px;
}


/* Vacatures */
.block-views-vacatures-block-1 {
  .views-row {
    width:50%;
    float:left;
    color:#fff;
    box-sizing:border-box;
    margin-bottom:40px;
    .views-field-field-image {
      float:left;
    }
    .views-field-title {
      font-weight: 300;
      font-size:24px;
      color:$green;
    }
    li {
      margin-left:20px;
    }
    .views-field-field-vacature {
      a {
        background-color: $green;
        color: #fff;
        padding: 14px 25px;
        font-size: 1em;
        display: inline-block;
      }
    }
    .views-field-field-image {
      width:100%;
      img {
        float:left;
      }
    }
  }
  .views-row-odd {
    padding-right: 5%;
  }
  .views-row-even {
    padding-left:5%;
  }
}

/* Webform */
.node-webform {
  .webform-component-fieldset {
    width:50%;
  }
  .form-actions {
    width: 50%;
  }
}

/* Responsive menu */
#superfish-1-select {
  padding: 18px 12px;
}

.region-branding-inner {
  width: 60%;
  float: left;
  img {
    margin-top:0px;
  }
}

