/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'variables';
@import 'default-style';

/* Algemeen */
a.button {
  background-color: $green;
  color: #fff;
  padding: 14px 25px;
  font-size: 1em;
  display: inline-block;
}

#zone-user-wrapper {
  background-color:$gray;
}

h2 {
  text-align:center;
  font-weight:300;
}

h2.block-title {
  color: #fff;
  font-weight: 300;
  padding-bottom: 50px;
}

p {
  font-weight:300;
}

#zone-content-wrapper {
  padding:50px 0;
}

/* Menu */
.zone-branding-wrapper {
  padding:20px 0;
}

.block-superfish-1 {
  float:right;
  ul {
    li {
      a {
        font-family:$font;
        font-size:0.938em;
        color:#000;
        text-transform:uppercase;
        font-weight:700;
        margin: 12px 55px 0 0;
        border-bottom:3px solid transparent;
        padding-bottom:5px;
      }
      a:hover {
        color:$green;
      }
      a.active {
        color:#000;
        border-bottom:3px solid $green;
      }
      a.notactive {
        border-bottom:3px solid transparent;
      }
    }
  }
}

/* Banner */
#zone-header {
  width:100%;
  #region-header-first {
    width:100%;
    margin:0;
  }
}

/* Portfolio */
.block-views-portfolio-block .views-row {
  float: left;
  width: 49%;
  margin: 0;
  margin-bottom: 2%;
  padding: 0;
  margin-right: 2%;
  position: relative;
}

.block-views-portfolio-block .views-row {
  width: 23.5%;
}

.block-views-portfolio-block .views-row-2, .block-views-portfolio-block .views-row-6, .block-views-portfolio-block .views-row-10 {
  margin-right: 0;
}

.block-views-portfolio-block .views-row-1, .block-views-portfolio-block .views-row-2 {
  width: 49%;
}

#zone-postscript-wrapper {

  padding:50px 0;
  background-color:$gray;
}

/* Footer */
.block-superfish-2 {
  ul li {
    margin: 0;
    width:100%;
    a {
      color: #fff;
      font-size: 1em;
      padding: 4px 0;
    }
  }
}

#zone-footer-wrapper {
  background-color:$green;
  padding:50px 0;
  h2.block-title {
    float:left;
    padding-bottom:0;
    width:100%;
    text-align:left;
  }
}

#block-bean-social-media {
  .field-item {
    width:16%;
    float:left;
    padding:5px 0;
    img {
      width:60%;
      float:left;
    }
  }
}

.region-footer-third {
  li {
    list-style:none;
    color:#fff;
    a {
      color:#fff;
    }
    a:hover {
      color:#000;
    }
  }
}

/* Over ons */
.ui-icon {
  background-position:0 0;
  background-image:url(img/square-plus.png)!important;
  width:23px;
  height:23px;
}

.ui-state-hover {
  .ui-icon {
    background-image:url(img/square-plus-blue.png)!important;
  }
}


.views-field-field-vraag, .views-field-field-title, .views-field-title {
  border: none;
  background: transparent url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
}

.views-accordion-header {
  border:none;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  top: 42%;
}

.ui-accordion .ui-accordion-content {
  border:1px solid $green;
  font-weight:300;
  font-size:15px;
  width:80%;
}


/* Portfolio pagina */
.view-display-id-portfoliopagina {
  .views-row {
    padding:15px;
    float:left;
    width:100%;
    .views-field-title {
      width:60%;
      float:left;
      color:#fff;
      font-size:18px;
      font-weight:300;
    }
    .views-field-field-image {
      width:20%;
      float:left;
      padding-right:5%;
    }
    .views-field-field-text {
      width:60%;
      float:left;
      color:#fff;
    }
  }
  .views-row-odd {
    background-color:$green;
  }
  .views-row-even {
    background-color:$gray;
  }
}

.view-footer {
  text-align:center;
}

/* Vacatures */
.block-views-vacatures-block-1 {
  .views-row {
    width:40%;
    float:left;
    color:#fff;
    .views-field-field-image {
      float:left;
    }
    .views-field-title {
      font-weight: 300;
      font-size:24px;
      color:$green;
    }
    li {
      margin-left:20px;
    }
    .views-field-field-vacature {
      a {
        background-color: $green;
        color: #fff;
        padding: 14px 25px;
        font-size: 1em;
        display: inline-block;
      }
    }
  }
  .views-row-odd {
    padding-right:5%;
  }
  .views-row-even {
    padding-left:5%;
  }
}

/* Webform */
.node-webform {
  font-family:$font;
  #edit-submitted-titel {
    border:none;
    font-weight:300;
    font-size:24px;
    box-shadow: none;
    float: left;
    width: 100%;
    padding-left: 0;
    color:#000;
  }
  .webform-component-fieldset {
    width:50%;
    float:left;
    .fieldset-title {
      font-size: 18px;
      font-weight: 300;
      color: $green;
    }
  }
  input[type="submit"] {
    background-color: #b1b351;
    color: #fff;
    padding: 14px 25px;
    font-size: 1em;
    display: inline-block;
    border-radius: 0;
    font-weight: 300;
  }
  .form-actions {
    width: 50%;
    float: right;
  }
  .views-row {
    box-sizing: border-box;
  }
}
