/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-img {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 600; }

h2.block-title {
  font-size: 1.6em;
  font-weight: 600; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: "Open Sans", sans-serif; }

h3, h4, h5 {
  font-weight: 400; }

p, a, a:link {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

/* Algemeen */
a.button {
  background-color: #b1b351;
  color: #fff;
  padding: 14px 25px;
  font-size: 1em;
  display: inline-block; }

#zone-user-wrapper {
  background-color: #353535; }

h2 {
  text-align: center;
  font-weight: 300; }

h2.block-title {
  color: #fff;
  font-weight: 300;
  padding-bottom: 50px; }

p {
  font-weight: 300; }

#zone-content-wrapper {
  padding: 50px 0; }

.zone-postscript-second-wrapper {
  padding: 50px 0; }

/* Menu */
.zone-branding-wrapper {
  padding: 20px 0; }

.block-superfish-1 {
  float: right; }
  .block-superfish-1 ul li a {
    font-family: "Open Sans", sans-serif;
    font-size: 0.938em;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin: 12px 30px 0 0;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px; }
  .block-superfish-1 ul li a:hover {
    color: #b1b351; }
  .block-superfish-1 ul li a.active {
    color: #000;
    border-bottom: 3px solid #b1b351; }
  .block-superfish-1 ul li a.notactive {
    border-bottom: 3px solid transparent; }

/* Banner */
#zone-header {
  width: 100%; }
  #zone-header #region-header-first {
    width: 100%;
    margin: 0; }

/* Portfolio */
.block-views-portfolio-block .views-row {
  float: left;
  width: 49%;
  margin: 0;
  margin-bottom: 2%;
  padding: 0;
  margin-right: 2%;
  position: relative; }

.block-views-portfolio-block .views-row {
  width: 30%;
  float: left; }

.block-views-portfolio-block .views-row-2, .block-views-portfolio-block .views-row-6, .block-views-portfolio-block .views-row-10 {
  margin-right: 0; }

.block-views-portfolio-block-1 .views-row {
  float: left;
  width: 49%;
  margin: 0;
  margin-bottom: 2%;
  padding: 0;
  margin-right: 2%;
  position: relative; }

.block-views-portfolio-block-1 .views-row {
  width: 23.5%; }

.block-views-portfolio-block-1 .views-row-2, .block-views-portfolio-block-1 .views-row-6, .block-views-portfolio-block-1 .views-row-10 {
  margin-right: 0; }

.block-views-portfolio-block-1 .views-row-1, .block-views-portfolio-block-1 .views-row-2 {
  width: 49%; }

#zone-postscript-wrapper {
  padding: 50px 0;
  background-color: #353535; }

/* Footer */
.block-superfish-2 ul li {
  margin: 0;
  width: 100%; }
  .block-superfish-2 ul li a {
    color: #fff;
    font-size: 1em;
    padding: 4px 0; }

#zone-footer-wrapper {
  background-color: #b1b351;
  padding: 50px 0; }
  #zone-footer-wrapper h2.block-title {
    float: left;
    padding-bottom: 0;
    width: 100%;
    text-align: left; }

#block-bean-social-media .field-item {
  width: 16%;
  float: left;
  padding: 5px 0; }
  #block-bean-social-media .field-item img {
    width: 60%;
    float: left; }

.region-footer-third li {
  list-style: none;
  color: #fff; }
  .region-footer-third li a {
    color: #fff; }
  .region-footer-third li a:hover {
    color: #000; }

/* Over ons */
.ui-icon {
  background-position: 0 0;
  background-image: url(img/square.png) !important;
  width: 23px;
  height: 23px;
  background-size: 23px; }

.views-field-field-vraag, .views-field-field-title, .views-field-title {
  border: none;
  background: transparent url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; }

.views-accordion-header {
  border: none; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  top: 42%; }

.ui-accordion .ui-accordion-content {
  border: 1px solid #b1b351;
  font-weight: 300;
  font-size: 15px;
  width: 80%; }

/* Portfolio pagina */
.view-display-id-portfoliopagina .views-row, .view-display-id-portfoliopagina_greenagents .views-row {
  padding: 5%;
  float: left;
  width: 90%; }
  .view-display-id-portfoliopagina .views-row .views-field-title, .view-display-id-portfoliopagina_greenagents .views-row .views-field-title {
    width: 60%;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 300; }
  .view-display-id-portfoliopagina .views-row .views-field-field-image, .view-display-id-portfoliopagina_greenagents .views-row .views-field-field-image {
    width: 20%;
    float: left;
    padding-right: 5%; }
  .view-display-id-portfoliopagina .views-row .views-field-field-text, .view-display-id-portfoliopagina_greenagents .views-row .views-field-field-text {
    width: 60%;
    float: left;
    color: #fff; }
.view-display-id-portfoliopagina .views-row-odd, .view-display-id-portfoliopagina_greenagents .views-row-odd {
  background-color: #b1b351; }
.view-display-id-portfoliopagina .views-row-even, .view-display-id-portfoliopagina_greenagents .views-row-even {
  background-color: #353535; }

.view-footer {
  text-align: center; }

/* Vacatures */
.block-views-vacatures-block-1 .views-row {
  width: 100%;
  float: left;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 40px; }
  .block-views-vacatures-block-1 .views-row .views-field-field-image {
    float: left; }
  .block-views-vacatures-block-1 .views-row .views-field-title {
    font-weight: 300;
    font-size: 24px;
    color: #b1b351; }
  .block-views-vacatures-block-1 .views-row li {
    margin-left: 20px; }
  .block-views-vacatures-block-1 .views-row .views-field-field-vacature a {
    background-color: #b1b351;
    color: #fff;
    padding: 14px 25px;
    font-size: 1em;
    display: inline-block; }
  .block-views-vacatures-block-1 .views-row .views-field-field-image {
    width: 100%; }
    .block-views-vacatures-block-1 .views-row .views-field-field-image img {
      float: left; }
.block-views-vacatures-block-1 .views-row-odd {
  padding-right: 0%; }
.block-views-vacatures-block-1 .views-row-even {
  padding-left: 0%; }

/* Webform */
.node-webform {
  font-family: "Open Sans", sans-serif; }
  .node-webform #edit-submitted-titel {
    border: none;
    font-weight: 300;
    font-size: 24px;
    box-shadow: none;
    float: left;
    width: 100%;
    padding-left: 0;
    color: #000; }
  .node-webform .webform-component-fieldset {
    width: 100%;
    float: left; }
    .node-webform .webform-component-fieldset .fieldset-title {
      font-size: 18px;
      font-weight: 300;
      color: #b1b351; }
  .node-webform input[type="submit"] {
    background-color: #b1b351;
    color: #fff;
    padding: 14px 25px;
    font-size: 1em;
    display: inline-block;
    border-radius: 0;
    font-weight: 300; }
  .node-webform .form-actions {
    width: 100%;
    float: right; }

/* Partners */
.context-partners .node-partners .views-field-title {
  text-align: center;
  font-weight: 300;
  font-size: 24px; }
.context-partners .node-partners .field-name-body {
  text-align: center; }

/* Slideshow */
#block-views-partners-block {
  position: relative;
  margin-top: 50px; }
  #block-views-partners-block .views_slideshow_cycle_main {
    width: 80%;
    margin: 0 auto;
    float: none; }
  #block-views-partners-block .views-row {
    width: 23%;
    padding-right: 2%;
    float: left;
    margin: 0 auto; }
  #block-views-partners-block .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 40%;
    left: 0px;
    z-index: 100;
    background: url("img/circle-left.png") no-repeat center;
    background-size: 30px;
    width: 30px;
    height: 36px;
    text-indent: -9999px; }
  #block-views-partners-block .views-slideshow-controls-text-pause {
    display: none; }
  #block-views-partners-block .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top: 40%;
    right: 0px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/circle-right.png") no-repeat center;
    background-size: 30px;
    width: 30px;
    height: 36px; }

#zone-postscript {
  padding-bottom: 50px; }

/* Contact */
iframe {
  width: 100%;
  margin: 0 auto;
  height: 200px; }

.context-neem-contact-met-ons-op .webform-component {
  width: 80%;
  margin: 0 auto; }
.context-neem-contact-met-ons-op input[type="text"], .context-neem-contact-met-ons-op input[type="email"], .context-neem-contact-met-ons-op .form-textarea-wrapper, .context-neem-contact-met-ons-op textarea {
  margin: 0 auto;
  margin-bottom: 15px; }
.context-neem-contact-met-ons-op .node-webform .form-actions {
  width: 100%;
  text-align: center; }

/* Pdf */
#block-views-pdf-block span.file-size {
  display: none; }
#block-views-pdf-block .field-name-field-titel {
  text-align: center;
  word-wrap: break-word;
  font-size: 14px; }
#block-views-pdf-block img.file-icon {
  display: none; }
#block-views-pdf-block .field-name-field-pdf-field {
  word-wrap: break-word;
  text-align: center;
  font-size: 14px; }
  #block-views-pdf-block .field-name-field-pdf-field a {
    color: #000; }

/* Diensten */
#block-views-greenagents-diensten-block {
  width: 100% !important;
  float: left; }
  #block-views-greenagents-diensten-block .views-row {
    width: 100%;
    float: left;
    margin-bottom: 45px; }
    #block-views-greenagents-diensten-block .views-row .views-field-title {
      text-align: center;
      word-wrap: break-word;
      font-size: 14px; }
      #block-views-greenagents-diensten-block .views-row .views-field-title a {
        color: #000; }
  #block-views-greenagents-diensten-block #zone-postscript {
    padding-bottom: 0px; }

#block-views-pdf-block {
  width: 100%;
  float: left;
  margin-bottom: 45px; }
  #block-views-pdf-block .field-name-field-pdf-field {
    font-size: 14px; }

#region-postscript-second h2 {
  margin-bottom: 50px; }

/* Sticky menu */
.admin-menu .is-sticky .zone-branding-wrapper {
  top: 29px !important; }
.admin-menu .zone-branding-wrapper {
  top: 28px; }

.zone-branding-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 997; }

/* Responsive menu */
#superfish-1-select {
  background: transparent url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  background-size: 20px;
  color: #000;
  position: relative;
  float: right;
  padding: 18px 10px;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
  font-size: 0; }

.region-branding-inner {
  width: 60%;
  float: left; }
  .region-branding-inner img {
    margin-top: 20px; }

.view-id-blog .views-row {
  margin-bottom: 40px; }
.view-id-blog .group-left {
  width: 25% !important; }
  .view-id-blog .group-left .field-name-field-image img {
    float: left;
    width: 90%; }
.view-id-blog .group-right .field-name-title h2 {
  text-align: left;
  font-size: 24px;
  width: 100%;
  margin: 0; }
.view-id-blog .group-right .field-name-field-date-1 {
  width: 100%;
  font-size: 15px; }
.view-id-blog .group-right .field-name-field-body {
  width: 100%;
  font-size: 14px; }
.view-id-blog .group-right .field-name-node-link a {
  color: #fff;
  padding: 3px;
  font-size: 13px;
  background-color: #b1b351; }

/* GREENAGENTS */
.context-greenagents #zone-postscript-wrapper {
  background-color: #b1b351;
  padding: 10px 0; }
  .context-greenagents #zone-postscript-wrapper #zone-postscript {
    padding-bottom: 0; }

.block-views-blog-block-1 .views-row-odd {
  padding-right: 2.5%; }
.block-views-blog-block-1 .views-row {
  width: 48.75%;
  float: left; }
.block-views-blog-block-1 .view-id-blog .views-row {
  margin-bottom: 40px; }
.block-views-blog-block-1 .view-id-blog .group-left {
  width: 100% !important; }
  .block-views-blog-block-1 .view-id-blog .group-left .field-name-field-image img {
    float: left;
    width: 50%; }
.block-views-blog-block-1 .view-id-blog .group-right {
  width: 100% !important; }
  .block-views-blog-block-1 .view-id-blog .group-right .field-name-title h2 {
    text-align: left;
    font-size: 24px;
    width: 100%;
    margin: 0;
    margin-bottom: 0 !important; }
  .block-views-blog-block-1 .view-id-blog .group-right .field-name-field-date-1 {
    width: 100%;
    font-size: 15px; }
  .block-views-blog-block-1 .view-id-blog .group-right .field-name-field-body {
    width: 100%;
    font-size: 14px; }
  .block-views-blog-block-1 .view-id-blog .group-right .field-name-node-link a {
    color: #fff;
    padding: 3px;
    font-size: 13px;
    background-color: #b1b351; }
.block-views-blog-block-1 #region-postscript-second h2 {
  margin-bottom: 0;
  color: #000; }

/*# sourceMappingURL=global.css.map */
