/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'variables';
@import 'default-style';

/* Algemeen */
#zone-user-wrapper {
  background-color:#464b58;
}

#block-bean-social-media {
  .field-item {
    width:10%;
    float:right;
    padding:5px 0;
    img {
      width:60%;
    }
  }
}

/* Menu */
.block-superfish-1 {
  float:right;
  ul {
    li {
      a {
        font-family:$font;
        font-size:0.938em;
        color:#000;
        text-transform:uppercase;
        font-weight:700;
        margin: 32px 55px 0 0;
        border-bottom:3px solid transparent;
        padding-bottom:5px;
      }
      a:hover {
        color:$green;
      }
      a.active {
        color:#000;
        border-bottom:3px solid $green;
      }
      a.notactive {
        border-bottom:3px solid transparent;
      }
    }
  }
}